/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Inter:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@300&family=Ysabeau+Infant:wght@500&display=swap');

*{
    font-family: 'Poppins', sans-serif;

}

fa-icon{
    width: 12rem;
}

body {
    background-color: #65150c;
  }