<div class="foter">
    <div><p>Don Juan Parrilla y Bar &copy;</p></div>
    <div class="cota">
        <div>
            <table>
                <thead><th>Contacto</th></thead>
                <tbody><tr>3013822295</tr></tbody>
            </table>
        </div>
        <div>
        <table>
            <thead><th>Reserva</th></thead>
            <tbody><tr>3013822295</tr></tbody>
        </table></div>
        <div>
            <table>
                <thead><th>Domicilios</th></thead>
                <tbody><tr>3013822295</tr></tbody>
            </table>
        </div>
        <div>
            <table>
                <a href="https://wa.me/3013822295?text=prueba%20web" target="blank">
                    <fa-icon [icon]="faHouse" class="fa-2x text rgba(215,164,132,255) "></fa-icon>
                    <thead><th>Whatsapp</th></thead>
                    <tbody><tr>3013822295</tr></tbody>
                </a>
            </table>
        </div>
    </div>
</div>